.footerContainer {
	bottom: 0;
	height: 15lvh;
	position: relative;
	display: flex;
	justify-content: center;
  background: linear-gradient(90deg, #90e0ef, var(--primary), #90e0ef, var(--primary));
	animation: gradient 5s linear infinite;
  box-shadow: 0 1px 20px #90e0ef80;
	background-size: 300% auto;

	// background: linear-gradient(70deg, var(--primary), var(--gradientLight));
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 100% ;
	}
}


.socialContainer {
	margin-top: 2lvh;
	display: flex;
	flex-direction: column;
}

.socialIconContainer {
	display: flex;
	position: relative;
	height: 50px;
	width: auto;
}

.socialText {
	text-align: center;
}

.socialIcons {
	width: 50px;
	height: 50px;
}

.gmailIcon {
	@extend .socialIcons;
	transform: scale(1.1) translate(1%);
}

.discordIcon {
	@extend .socialIcons;
	transform: scale(1.4) translate(4%);
}

.socialIcons:hover {
	--iconColor: var(--accent);
}

.socialLinks {
	margin: 0 0.5lvw;
	width: 50px;
	height: 50px;
}

.discordLink {
	@extend .socialLinks;
	width: 54px;
}
