// thank you #probablyanasian
.stackContainer {
	position: relative;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	overflow: hidden;
}

.windowContainer {
	position: absolute;
	clip-path: inset(0px 0px 0px 0px);
	width: 100vw;
	height: 100vh;
}

.pageContainer {
	display: flex;
	position: fixed;
	top: var(--navigatorHeight);
	left: 0;
	width: 100vw;
	height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

// thank u ACM Cyber
// https://github.com/uclaacm/acmcyber.com
.welcomeContainer {
  @extend .pageContainer;
  
  background-image: url(../public/homeAssets/page1.svg);

	--welcome-height: calc(100vh - 60px);
	--diamond-scale: 0.65;
	--diamond-length: calc(
		var(--diamond-scale) * max(min(100vw, var(--welcome-height)), 800px)
	);
	--diamond-x: calc((100vw - var(--diamond-length)) / 2);
	--diamond-y: calc((var(--welcome-height) - var(--diamond-length)) / 2);
	--diamond-center-y: calc(var(--diamond-y) + var(--diamond-length) * 0.454);

	// thank you so much arc'blroth
	.diamondBackground {
		position: absolute;
		width: var(--diamond-length);
		height: var(--diamond-length);
		background: rgba(240, 242, 242, 0.8);
		transform: translate(var(--diamond-x), max(var(--diamond-y), -3rem))
			rotate(45deg);
		border-radius: 100px;
	}

	.diamond {
		box-sizing: border-box;
		position: absolute;
		width: var(--diamond-length);
		height: var(--diamond-length);

		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: xor;

		-webkit-mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;

		background: linear-gradient(
				170deg,
				#fedeff 2%,
				var(--accent) 10%,
				#5d3fd3,
				var(--primary) 90%,
				#72afff
			)
			border-box;
		border-radius: 100px;
		border: double 15px transparent;
	}

	.welcomeTextContainer {
		position: absolute;
		text-align: center;

		width: 100%;
		height: var(--diamond-length);
		transform: translate(0, max(var(--diamond-y), -3rem));
		margin-top: 7.25rem;
		font-size: 20px;

		.logoContainer {
			height: 20%;
			display: flex;
			font-size: 100px;
			margin-left: auto;
			margin-right: auto;
			max-width: fit-content;
			margin-bottom: 3rem;

			.acmText {
				font-family: "Westwood Sans 0.5", sans-serif;
			}

			.aiText {
				font-family: "Westwood Sans 0.5", sans-serif;
				text-decoration: none;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				background-image: linear-gradient(
					70deg,
					var(--primary) 25%,
					var(--gradientLight) 75%
				);
			}

			.bangText {
				@extend .aiText;
				background-image: linear-gradient(
					70deg,
					var(--gradientLight) 25%,
					hsl(185, 100%, 81%) 75%
				);
			}
		}
	}
}

.bigText {
  font-size: 60px;
  text-align: center;
}

.pageTwoContainer {
	@extend .pageContainer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/homeAssets/page2Mobile.svg);
}

.pageThreeContainer {
	@extend .pageContainer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/homeAssets/page3Mobile.svg);
}

@media only screen and (min-width: 800px) {
  .pageTwoContainer {
    @extend .pageContainer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../public/homeAssets/page2Desktop.svg);
  }

  .pageThreeContainer {
    @extend .pageContainer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../public/homeAssets/page3Desktop.svg);
  }
}

.pageFourContainer {
	@extend .pageContainer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/homeAssets/page4.svg);
}

.triangleContainer {
  position: relative;
  margin: 0 auto 8rem;
  padding: 2rem;
  height: 100%;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 99;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .triangleContent {
    margin: 0 auto;
    max-width: 700px;
  }line-height: 2 ;

  .triangleTitle{
    text-align: center;
    font-size: 60px;
    margin-bottom: 4%;
  }

  .pageFourText{
    font-size: 1.2rem;
    line-height: 2 ;
  }
}