@import url('https://cdn.jsdelivr.net/gh/uclaacm/westwood_sans/font.css');

$headerFontSize: 20px;

.navigationContainer {
	top: 0;
	position: -webkit-sticky;
	position: sticky;
}

.headerContainer {
	width: 100lvw;
	height: 8lvh;
	background: white;
	box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);

	width: 100%;
	text-align: center;
	line-height: 8lvh;
	display: flex;
	justify-content: space-between;
}

.homeLink {
	display: flex;
	font-family: 'Westwood Sans', sans-serif;
	font-weight: 800;
	font-size: 40px;
	color: black;
	text-decoration: none;
	margin-right: auto;
	margin-left: 1lvw;
}

.aiIcon {
	width: 8lvh;
	height: auto;
	background-image: url('../public/logos/aiIcon.svg');
	background-size: cover;
}

.acmText {
	line-height: 7lvh;
	margin-left: 1lvw;
}

.aiText {
	line-height: 7lvh;
	text-decoration: none;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	background-image: linear-gradient(
		70deg,
		var(--primary) 25%,
		var(--gradientLight) 75%
	);
}

@media only screen and (min-width: 800px) {
	.dropDownIcon {
		display: none;
	}

	.joinButton {
		font-weight: 400;
		margin: 0px 1lvw;
		cursor: pointer;
		padding: 5px 20px;
		text-decoration: none;
		font-size: $headerFontSize;
		background-color: white;
		color: var(--primary);
		text-align: center;
		border: 2px solid var(--primary);
		border-radius: 20px;
	}

	.joinButton:hover {
		background-color: rgb(255, 255, 255);
		color: var(--accent);
		border: 2px solid var(--accent);
	}

	.dropDownMenuInvisible {
		display: none;
	}

	.dropDownMenuVisible {
		display: none;
	}

	.linkText {
		font-weight: 400;
		font-size: $headerFontSize;
		color: black;
		text-decoration: none;
		margin: 0px 1lvw;
	}

	.linkText:hover {
		color: var(--accent);
	}
}

// when screen is too small switch to drop down navigation menu
@media only screen and (max-width: 800px) {
	// make menu invisible
	.staticMenu {
		display: none;
	}

	.dropDownMenuInvisible {
		display: none;
	}

	.dropDownMenuVisibpropertyle {
		display: flex;
		flex-direction: column;
	}

	.dropDownIcon {
		cursor: pointer;
		display: inline-block;
		margin: auto 3lvw;
	}

	.linkText {
		line-height: 2lvh;
		text-align: center;
		font-weight: 500;
		font-size: 15px;
		color: black;
		text-decoration: none;
	}

	.linkText:hover {
		background-color: var(--accent);
	}

	.bar1,
	.bar2,
	.bar3 {
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
		border-radius: 20px;
	}

	// close menu styles
	.closeBar1 {
		@extend .bar1;
		animation: closeBar1 0.5s forwards;
	}

	.closeBar2 {
		@extend .bar2;
		animation: closeBar2 0.5s forwards;
	}

	.closeBar3 {
		@extend .bar3;
		animation: closeBar3 0.5s forwards;
	}

	// closing menu animations
	@keyframes closeBar1 {
		0% {
			transform: translate(0, 11px) rotate(135deg);
		}
		100% {
			translate: translate(0, -11px) rotate(-135deg);
		}
	}

	@keyframes closeBar2 {
		0% {
			opacity: 0;
			transform: translate(-35px, 0);
		}
		100% {
			opacity: 100;
			transform: translate(0px, 0);
		}
	}

	@keyframes closeBar3 {
		0% {
			transform: translate(0, -11px) rotate(-135deg);
		}
		100% {
			translate: translate(0, 11px) rotate(135deg);
		}
	}

	// open menu styles
	.openBar1 {
		@extend .bar1;
		animation: openBar1 0.5s forwards;
	}

	.openBar2 {
		@extend .bar2;
		animation: openBar2 0.5s forwards;
	}

	.openBar3 {
		@extend .bar3;
		animation: openBar3 0.5s forwards;
	}

	// opening menu animations
	@keyframes openBar1 {
		100% {
			transform: translate(0, 11px) rotate(135deg);
		}
	}

	@keyframes openBar2 {
		100% {
			opacity: 0;
			transform: translate(-35px, 0);
		}
	}

	@keyframes openBar3 {
		100% {
			transform: translate(0, -11px) rotate(-135deg);
		}
	}
}
